p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
 /*------------- Whole Document---------------- */

body {
    font-family: 'Roboto';
    font-size: 19px;
}

/*----------------- links ---------------------*/

a { 
  color: #4e89bf;
}

a:hover {
    color: #396892; /* darker color when hovering */
  }
  
  
  
/*------------Table of Contents (TOC)----------- */


.tocify {
  border: none;   /*Removes border */
  border-radius: 0px; /* Gets rid of rounded corners on TOC */
  font-size: 16px;
}

.tocify ul, .tocify li { /* Increases spacing between TOC headers*/
    line-height: 25px !important;
}

.tocify ul {
  border-right: solid 1px #eee; /* Thin right border on TOC list */
}

